select {
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
    text-align: center;
    border: 1px solid grey;
    margin: -1px 0 0 -1px;
    background: transparent;
    font-size: x-large;
  }
  
  select:hover {
    background-color: lightgrey;
  }
  
  select:disabled {
    color: black;
  }
  
  select:focus-visible {
    outline: none;
  }
  
  .step {
    background-color: rgb(153, 228, 255);
  }
  
  .step:hover {
    background-color: rgb(98, 192, 226);
  }
  
  .current-step {
    background-color: rgb(65, 204, 255);
  }
  
  .current-step:hover {
    background-color: rgb(0, 146, 199);
  }