button {
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  text-overflow: '';
  text-align: center;
  border: 1px solid black;
  background: transparent;
  font-size: large;
  min-width: 100px;
  margin: 1px;
}

button:hover {
  background-color: lightgrey;
}

button:disabled {
  border-color: lightgrey;
  color: lightgrey;
}

button:disabled:hover {
  background-color: initial;
}

.button-container {
  width: 450px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.main {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.header {
  margin: auto;
  margin-bottom: 10px;
}

.container {
  position: relative;
  margin: auto;
  padding:1px 0 0 1px;
  background: transparent;
}